<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.over.order.mapper.OrderMapper">
    <!-- 结果集 -->
    <resultMap type="com.over.order.entity.Order" id="OrderMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="productId" column="product_id" jdbcType="INTEGER"/>
        <result property="count" column="count" jdbcType="INTEGER"/>
        <result property="money" column="money" jdbcType="NUMERIC"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 基本字段 -->
    <sql id="Base_Column_List">
        id, user_id, product_id, count, money, status    </sql>

    <!-- 查询单个 -->
    <select id="selectById" resultMap="OrderMap">
        select
        <include refid="Base_Column_List"/>
        from order
        where id = #{id}
    </select>

    <!-- 分页查询 -->
    <select id="selectPage" resultMap="OrderMap">
        select
        <include refid="Base_Column_List"/>
        from order
        limit #{start},#{limit}
    </select>

    <!-- 查询全部 -->
    <select id="selectAll" resultMap="OrderMap">
        select
        <include refid="Base_Column_List"/>
        from order
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectList" resultMap="OrderMap">
        select
        <include refid="Base_Column_List"/>
        from order
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="productId != null">
                and product_id = #{productId}
            </if>
            <if test="count != null">
                and count = #{count}
            </if>
            <if test="money != null">
                and money = #{money}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <!-- 新增所有列 -->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into order(id, user_id, product_id, count, money, status)
        values ( #{id}, #{userId}, #{productId}, #{count}, #{money}, #{status})
    </insert>

    <!-- 批量新增 -->
    <insert id="batchInsert">
        insert into order(id, user_id, product_id, count, money, status)
        values
        <foreach collection="orders" item="item" index="index" separator=",">
            (
            #{item.id}, #{item.userId}, #{item.productId}, #{item.count}, #{item.money}, #{item.status} )
        </foreach>
    </insert>

    <!-- 通过主键修改数据 -->
    <update id="update">
        update  `order`
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="productId != null">
                product_id = #{productId},
            </if>
            <if test="count != null">
                count = #{count},
            </if>
            <if test="money != null">
                money = #{money},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from order where id = #{id}
    </delete>

    <!-- 总数 -->
    <select id="count" resultType="int">
        select count(*) from order
    </select>
</mapper>